<div class="about-details-wrapper">
  <h3>More details</h3>
  <div *ngIf="isDisplayed">
    <p>Integer purus arcu, suscipit fringilla lacinia ut, dictum in nulla. Suspendisse sed ultricies
      leo. Praesent
      tincidunt consectetur sapien vitae dignissim. Phasellus placerat hendrerit sem non interdum. Nulla non sagittis
      leo. Sed suscipit felis porttitor metus sagittis tempus. In mollis diam sit amet quam blandit, eu sollicitudin
      justo accumsan. Nunc vitae blandit mauris. Sed quis diam in enim dapibus fringilla a iaculis nulla. Proin
      suscipit arcu et turpis pharetra viverra. Duis ut felis nulla. Ut urna neque, facilisis non euismod nec, cursus at
      velit. Ut nec pellentesque lacus. Nunc fermentum orci a ultricies tincidunt.</p>
    <button class="btn btn-danger btn-sm" (click)="toggleShowAlert()">Order</button>
  </div>
</div>