.footer {
  background-color: #f8f8f8;
  padding: 25px 15px;
}

ul {
  text-align: right;
  li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    a {
      color: #333;
    }
  }
}
